{% extends 'base.html.twig' %}

{% block title %}Post list{% endblock %}

{% block body %}


    <h1>Post list</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>

            {% for post in posts %}
                <tr>
                    <th scope="row">{{ post.getId() }}</th>
                    <td>{{ post.getTitle() }}</td>
                    <td><a href="{{ path('app_post_details', {'id': post.id}) }}"><button class="btn btn-outline-success" type="submit">Details</button></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
